.Catalogue{
    display: grid;
    margin-top: 70px;
    width: 95vw;
    height: 95vh;
    grid-template-columns: 1fr 4fr 1fr;
}
.Catalogue > *{

}

.Pages{
    bottom: 0;
}
.Car{

}

.Image{
    height: 170px;
}