.Catalogue{
    display: grid;
    width: 95vw;
    grid-template-columns: 1fr 4fr 1fr;
}

.CurrentPage{
    font-weight: bold;
}
.Page{

}

.Pages{
    bottom: 0;
}

.Image{
    height: 170px;
}

.Cars{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: 100px;
}