.SortedList{
    width: 100%;
    height: 300px;
    background: #FDF9FE;
}

.Button{
    //background-color: rgb(99, 39, 120);
    //color: white;
    width: 70%;
}
.Button:hover{
    background-color: #9a49a1;
    color: white;

}